html {
	font-size: 10px;
}
input {
	border-style: none;
	background: transparent;
	outline: none;
}
.tasks-list {
	margin-top: 2%;
	border-radius: 2px;
	padding: 1.4rem 2rem 1.6rem;
	background: whitesmoke;
}
button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
	margin-right: 1%;
	float: right;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: linear-gradient(135deg, rgba(58,181,165,1) 0%, rgba(44,141,164,1) 53%, rgba(52,160,165,1) 72%, rgba(58,181,165,1) 72%);
}
.demo-flex-spacer {
	flex-grow: 1;
}
.webflow-style-input {
	position: relative;
	display: flex;
	flex-direction: row;
	border-radius: 2px;
	padding: 1.4rem 2rem 1.6rem;
	background: rgb(215, 222, 223) 
}
.webflow-style-input input, .task-box {
	flex-grow: 1;
	color: #5a5a5a;
	font-size: 1.8rem;
	line-height: 2.4rem;
	vertical-align: middle;
	font-family: 'Merriweather', serif;

}
.webflow-style-input input::-webkit-input-placeholder {
	color: rgb(45, 143, 164);
}
.webflow-style-input button {
	color: #7881a1;
	font-size: 2.4rem;
	vertical-align: middle;
	transition: color 0.25s;
}
.webflow-style-input button:hover {
	background-color: #37a8a5;
	border-color: #37a8a5;
}
.btn1 {
	flex-grow: 1;
	color:#5b5b5b;
	vertical-align: middle;
	font-size: small;
}
img {
	width: 12%;
	margin-top: 3%;
	margin-bottom: 2%;
}
.content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.icon-container {
	margin-top: 30px;
	width: 100%;
	height: 60px;
}
.icon {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 30px;
	overflow: hidden;
}
.icon::before, .icon::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.25s ease;
	border-radius: 30px;
}
.icon i {
	position: relative;
	color: #fff;
	font-size: 30px;
	margin-top: 15px;
	transition: all 0.25s ease;
}
.icon-enter::after {
	box-shadow: inset 0 0 0 1px #2867B2;
}
.icon-enter::before {
	border-radius: 0;
	margin-left: -100%;
	box-shadow: inset 0 0 0 60px #2867B2;
}
.icon-enter:hover::before {
	margin-left: 0;
}
.icon-expand::after {
	box-shadow: inset 0 0 0 1px #c82647;
}
.icon-expand::before {
	border-radius: 0;
	margin-left: -100%;
	box-shadow: inset 0 0 0 60px #c82647;
}
.icon-expand:hover::before {
	margin-left: 0;
}
.content {
	float: right;
}
.btndelete{
	float: right;
width: 5%;
margin-top: -2%;
}